<div class="sticky">
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name">
				<h1><a href=""><%= yield(:page_title) %></a></h1>
			</li>
		</ul>
	</nav>
	<ul class="breadcrumbs">
		<li><a href="#">Admin</a></li>
		<li><a href="#">User</a></li>
		<li><a href="#">Edit</a></li>
	</ul> 
</div>